<div class="projects mobile-padding boxed-container">
    <div class="project-block">
        <img src="../../assets/images/upcoming projects.png" />
        <h3>Upcoming Projects</h3>
        <button class="view-all-btn">View all</button>
    </div>
    <div class="project-block">
        <img src="../../assets/images/ongoing projects.png" />
        <h3>Ongoing Projects</h3>
        <button class="view-all-btn">View all</button>
    </div>
    <div class="project-block">
        <img src="../../assets/images/completed projects.png" />
        <h3>Completed Projects</h3>
        <button class="view-all-btn">View all</button>
    </div>
</div>