<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../assets/images/banner1.png" alt="Slide 1 Image">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/images/banner1.png" alt="Slide 2 Image">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/images/banner1.png" alt="Slide 3 Image">
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>