/* Basic carousel styling */
.swiper {
  margin: auto;
  overflow-x: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swiper-slide img {
  height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}