/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Sora", sans-serif;
}

body {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 32px;
}

p {
  font-size: 16px;
}

.font-color-white {
  color: white;
}

.font-color-highlight {
  color: #ff3436;
}

.bg-color-highlight {
  background-color: #ff3436;
}

.text-justified {
  text-align: justify;
}

.line-height-30 {
  line-height: 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 42px;
  }

  p {
    font-size: 20px;
  }

  .boxed-container {
    width: 1170px;
    margin: 0 auto;
  }
}
